<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Box">
    <delete id="delete" parameterType="Integer">
        DELETE FROM Box
        WHERE boxID = #{boxID}
    </delete>

    <update id="update">
        UPDATE Box
        SET
            name = #{name},
            note = #{note}
        WHERE boxID = #{boxID}
    </update>

    <insert id="insert" parameterType="de.kongsugar.wahosy.model.to.Box">
        INSERT INTO Box (name, note)
        VALUES (#{name}, #{note})
    </insert>

    <select id="get" resultType="de.kongsugar.wahosy.model.to.Box">
        SELECT *
        FROM Box
        WHERE boxID = #{boxID}
    </select>

    <select id="getAll" resultType="de.kongsugar.wahosy.model.to.Box">
        SELECT *
        FROM Box
    </select>

    <select id="getItems" resultType="Integer">
        SELECT itemID
        FROM Box_has_Item
        WHERE boxID = #{boxID}
    </select>

    <insert id="addItem" parameterType="java.util.Map">
        INSERT INTO Box_has_item (boxID, itemID)
        VALUES (#{boxID}, #{itemID})
    </insert>

    <delete id="deleteItem" parameterType="java.util.Map">
        DELETE FROM Box_has_item
        WHERE itemID = #{itemID} AND boxID = #{boxID}
    </delete>


    <resultMap id="resultBoxMap" type="Box">
        <id property="boxID" column="boxID"/>
        <result property="name" column="name"/>
        <result property="note" column="boxNote"/>
        <collection property="items" column="boxID" javaType="ArrayList" ofType="Item">
            <id property="itemID" column="itemID"/>
            <result property="note" column="itemNote"/>
            <result property="name" column="name"/>
            <result property="manufacturer" column="manufacturer"/>
            <result property="weight" column="weight"/>
            <result property="serialNumber" column="serialNumber"/>
            <result property="categoryID" column="categoryID"/>
            <result property="storeID" column="storeID"/>
        </collection>
    </resultMap>

    <select id="OLDgetAll" resultMap="resultBoxMap" parameterType="de.kongsugar.wahosy.model.to.Box">
        SELECT
        *,
        b.note AS boxNote,
        i.note AS itemNote
        FROM Box b
        LEFT OUTER JOIN box_has_item bhi ON b.boxID = bhi.boxID
        LEFT OUTER JOIN Item i ON bhi.itemID = i.itemID
    </select>

    <select id="OLDget" resultMap="resultBoxMap" parameterType="de.kongsugar.wahosy.model.to.Box">
        SELECT
        *,
        b.note AS boxNote,
        i.note AS itemNote
        FROM Box b
        LEFT OUTER JOIN box_has_item bhi ON b.boxID = bhi.boxID
        LEFT OUTER JOIN Item i ON bhi.itemID = i.itemID
        WHERE b.boxID = #{boxID}
    </select>

    <select id="OLDselectByItem" resultMap="resultBoxMap">
        SELECT
            *,
            b.note AS boxNote,
            i.note AS itemNote
        FROM Box b
            JOIN box_has_item bhi ON b.boxID = bhi.boxID
                                     AND b.boxID = (SELECT boxID
                                                    FROM box_has_item
                                                    WHERE itemID = #{id}
                                                    LIMIT 1)
            LEFT OUTER JOIN Item i ON bhi.itemID = i.itemID
    </select>

    <select id="OLDgetItems"></select>

    <update id="OLDupdate">
        UPDATE Box
        SET
            name = #{name},
            note = #{note}
        WHERE boxID = #{boxID}
    </update>

    <delete id="OLDdelete">
        DELETE FROM Box
        WHERE boxID = #{boxID}
    </delete>

</mapper>