<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Box">
    <resultMap id="resultBoxMap" type="Box">
        <id property="boxID" column="boxID"/>
        <result property="name" column="name"/>
        <result property="note" column="boxNote"/>
        <collection property="items" column="boxID" javaType="ArrayList" ofType="Item">
            <id property="itemID" column="itemID"/>
            <result property="note" column="itemNote"/>
            <result property="name" column="name"/>
            <result property="manufacturer" column="manufacturer"/>
            <result property="weight" column="weight"/>
            <result property="serialNumber" column="serialNumber"/>
            <result property="categoryID" column="categoryID"/>
            <result property="storeID" column="storeID"/>
        </collection>
    </resultMap>

    <select id="selectAll" resultMap="resultBoxMap" parameterType="de.kongsugar.wahosy.model.to.Box">
        SELECT
        *,
        b.note AS boxNote,
        i.note AS itemNote
        FROM Box b
        LEFT OUTER JOIN box_has_item bhi ON b.boxID = bhi.boxID
        LEFT OUTER JOIN Item i ON bhi.itemID = i.itemID
    </select>

    <select id="selectById" resultMap="resultBoxMap" parameterType="de.kongsugar.wahosy.model.to.Box">
        SELECT
        *,
        b.note AS boxNote,
        i.note AS itemNote
        FROM Box b
        LEFT OUTER JOIN box_has_item bhi ON b.boxID = bhi.boxID
        LEFT OUTER JOIN Item i ON bhi.itemID = i.itemID
        WHERE b.boxID = #{boxID}
    </select>

    <select id="selectByItem" resultMap="resultBoxMap">
        SELECT
            *,
            b.note AS boxNote,
            i.note AS itemNote
        FROM Box b
            JOIN box_has_item bhi ON b.boxID = bhi.boxID
                                     AND b.boxID = (SELECT boxID
                                                    FROM box_has_item
                                                    WHERE itemID = #{id}
                                                    LIMIT 1)
            LEFT OUTER JOIN Item i ON bhi.itemID = i.itemID
    </select>

    <update id="update">
        UPDATE Box
        SET
            name = #{name},
            note = #{note}
        WHERE boxID = #{boxID}
    </update>

    <delete id="delete">
        DELETE FROM Box
        WHERE boxID = #{boxID}
    </delete>

</mapper>