<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Box">


        <update id="update">
                UPDATE Box SET
                name=#{name},
                note=#{note}
                WHERE boxID= #{boxID}
        </update>

        <delete id="delete">
                DELETE FROM Box WHERE boxID= #{boxID}
        </delete>

</mapper>