<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Event">

    <resultMap id="resultEventItems" type="Event">
        <id property="eventID" column="eventID"/>
        <result property="till" column="till"/>
        <result property="from" column="from"/>
        <result property="note" column="eventNote"/>
        <result property="customer" column="customer"/>
        <result property="location" column="location"/>
        <collection property="items" column="eventID" javaType="ArrayList" ofType="Item">
            <id property="itemID" column="itemID"/>
            <result property="note" column="itemNote"/>
            <result property="name" column="name"/>
            <result property="manufacturer" column="manufacturer"/>
            <result property="weight" column="weight"/>
            <result property="serialNumber" column="serialNumber"/>
            <result property="categoryID" column="categoryID"/>
            <result property="storeID" column="storeID"/>
        </collection>
    </resultMap>

    <select id="selectAll" resultMap="resultEventItems">
        SELECT
        e.eventID as eventID,
            e.note AS eventNote,
        e.location as location,
        e.customer as customer,
        e.till as till,
        e.from as 'from',
        i.itemID as itemID,
        i.name as name,
        i.manufacturer as manufacturer,
        i.weight as weight,
        i.serialNumber as serialNumber,
            i.note AS itemNote,
        i.categoryID as categoryID,
        i.storeID as storeID
        FROM Event e
            LEFT OUTER JOIN event_has_item ehi ON e.eventID = ehi.eventID
            LEFT OUTER JOIN Item i ON ehi.itemID = i.itemID
    </select>

    <select id="selectById" resultType="de.kongsugar.wahosy.to.Event">
        SELECT *
        FROM Event
        WHERE eventID = #{id}
    </select>

    <update id="update">
        UPDATE Event SET
        note=#{note},
        location=#{location},
        customer=#{customer},
        till=#{till},
        from=#{from}
        WHERE eventID= #{eventID}

    </update>

    <delete id="delete">
        DELETE FROM Event
        WHERE eventID = #{eventID}
    </delete>

</mapper>