<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Event">

    <resultMap id="resultEventItems" type="Event">
        <id property="eventID" column="eventID"/>
        <result property="till" column="till"/>
        <result property="from" column="from"/>
        <result property="note" column="eventNote"/>
        <result property="customer" column="customer"/>
        <result property="location" column="location"/>
        <collection property="items" column="eventID" javaType="ArrayList" ofType="Item">
            <id property="itemID" column="itemID"/>
            <result property="note" column="itemNote"/>
            <result property="name" column="name"/>
            <result property="manufacturer" column="manufacturer"/>
            <result property="weight" column="weight"/>
            <result property="serialNumber" column="serialNumber"/>
            <result property="categoryID" column="categoryID"/>
            <result property="storeID" column="storeID"/>
        </collection>
    </resultMap>

    <resultMap id="resultEvent" type="Event">
        <id property="eventID" column="eventID"/>
        <result property="till" column="till"/>
        <result property="from" column="from"/>
        <result property="note" column="eventNote"/>
        <result property="customer" column="customer"/>
        <result property="location" column="location"/>
        <collection property="items" column="eventID" javaType="ArrayList" ofType="Item">
            <id property="itemID" column="itemID"/>
        </collection>
        <collection property="boxes" column="eventID" javaType="ArrayList" ofType="Box">
            <id property="boxID" column="boxID"/>
        </collection>
    </resultMap>

    <select id="selectById" resultMap="resultEvent">
        SELECT e.*, i.itemID, b.boxID
        FROM Event e, event_has_item i, event_has_box b
        WHERE e.eventID = #{eventID} AND i.eventID = #{eventID} AND b.eventID = #{eventID}
    </select>

    <select id="selectAll" resultMap="resultEvent">
        SELECT e.*, i.itemID, b.boxID
        FROM event_has_box b right outer join Event e on b.eventID = e.eventID
        left outer join event_has_item i on e.eventID = i.eventID
    </select>


    <select id="selectAllUncompleteAndComplicated" resultMap="resultEventItems">
        SELECT
        *,
            e.note AS eventNote,
        i.note AS itemNote
        FROM Event e
            LEFT OUTER JOIN event_has_item ehi ON e.eventID = ehi.eventID
            LEFT OUTER JOIN Item i ON ehi.itemID = i.itemID
    </select>

    <select id="selectByIdUncompleteAndComplicated" resultMap="resultEventItems">
        SELECT
        *,
        e.note AS eventNote,
        i.note AS itemNote
        FROM Event e
        LEFT OUTER JOIN event_has_item ehi ON e.eventID = ehi.eventID
        LEFT OUTER JOIN Item i ON ehi.itemID = i.itemID
        WHERE e.eventID = #{id}
    </select>

    <select id="selectByDate" resultMap="resultEvent">
        SELECT e.*, i.itemID, b.boxID
        FROM event_has_box b right outer join Event e on b.eventID = e.eventID
        left outer join event_has_item i on e.eventID = i.eventID
        <choose>
            <when test="from != null and till != null">
                WHERE e.from >= #{from} AND #{till} >= e.till
            </when>
            <when test="from != null">
                WHERE e.from >= #{from}
            </when>
            <when test="till != null">
                WHERE #{till} >= e.till
            </when>
        </choose>
    </select>

    <update id="update">
        UPDATE Event
        SET
        note = #{note},
        location = #{location},
        customer = #{customer},
        till = #{till},
        from = #{from}
        WHERE eventID = #{eventID}

    </update>

    <delete id="delete">
        DELETE FROM Event
        WHERE eventID = #{eventID}
    </delete>

</mapper>