<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Item">
    <select id="get" resultType="de.kongsugar.wahosy.model.to.Item">
        SELECT * FROM Item WHERE itemID = #{itemID}
    </select>

    <select id="getAll" resultType="de.kongsugar.wahosy.model.to.Item">
        SELECT * FROM Item
    </select>

    <select id="getUnboxed" resultType="de.kongsugar.wahosy.model.to.Item">
        SELECT DISTINCT i.*
        FROM Item i
        WHERE NOT EXISTS(SELECT *
        FROM box_has_item b
        WHERE i.itemID = b.itemID)
    </select>

    <select id="getBoxed" resultType="de.kongsugar.wahosy.model.to.Item">
        SELECT i.*
        FROM Box b
        LEFT OUTER JOIN box_has_item bhi ON b.boxID = bhi.boxID
        LEFT OUTER JOIN Item i ON bhi.itemID = i.itemID
    </select>

    <select id="getByCategory">
        SELECT * FROM Item WHERE categoryID=#{categoryID}
    </select>

    <select id="find" parameterType="String" resultType="de.kongsugar.wahosy.model.to.Item">
        SELECT *
        FROM Item
        WHERE LOWER(name) LIKE LOWER('%${value}%') OR
        LOWER(manufacturer) LIKE LOWER('%${value}%') OR
        LOWER(note) LIKE LOWER('%${value}%')
    </select>

    <select id="findBoxed" parameterType="String" resultType="de.kongsugar.wahosy.model.to.Item">
        SELECT i.*
        FROM Box b
        LEFT OUTER JOIN box_has_item bhi ON b.boxID = bhi.boxID
        LEFT OUTER JOIN Item i ON bhi.itemID = i.itemID
        WHERE i.name LIKE '%${value}%' OR
        i.manufacturer LIKE '%${value}%' OR
        i.note LIKE '%${value}%'
    </select>

    <select id="findUnboxed" parameterType="String" resultType="de.kongsugar.wahosy.model.to.Item">
        SELECT i.*
        FROM Item i
        WHERE NOT EXISTS(SELECT *
        FROM box_has_item b
        WHERE i.itemID = b.itemID)
        AND (i.name LIKE '%${value}%' OR
        i.manufacturer LIKE '%${value}%' OR
        i.note LIKE '%${value}%')
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="itemID" keyColumn="itemID"
            parameterType="de.kongsugar.wahosy.model.to.Item">
        INSERT INTO Item (name, manufacturer, weight, serialnumber, note, categoryID)
        VALUES (#{name}, #{manufacturer}, #{weight}, #{serialNumber}, #{note}, #{categoryID})
    </insert>

    <update id="update">
        UPDATE Item
        SET
        name = #{name},
        manufacturer = #{manufacturer},
        weight = #{weight},
        serialNumber = #{serialNumber},
        note = #{note},
        categoryID = #{categoryID}
        WHERE itemID = #{itemID}
    </update>

    <delete id="delete">
        DELETE FROM Item
        WHERE itemID = #{itemID}
    </delete>

</mapper>